%h2.title Over ons

%p
 = "Hier bij Het Genot geloven we in 1 ding boven alles:"
 %span{style: 'font-style: italic'} Het Genot
 = "."

%p
 = "Daarom hebben we sinds onze opening al #{@count} bieren verkocht!"

%p
 = "Dat klopt ja. #{@count} producten hebben al benut mogen worden door echte levensgenieters als jij en ik.."

%h2.title Ons populairste product op dit moment

%p
 = "Als er iets is waar mensen op dit moment van genieten, is het #{@most_popular_product.name}."
%p
 = "Stop met denken, begin met schenken!"
