%div.orders
  %h1.text-2xl Bestellingen

  %div.order-list
    %div.order
      %div.name
        %strong Bestelling #
      %div.total-price
        %strong Totaalprijs
      %div.view
        %strong Bekijk
    - @orders.each do |order|
      %div.order
        %div.name= "##{order.id}"
        %div.total-price= "#{number_to_currency(order.total_price, unit: "€")}"
        = link_to "View", admin_order_path(order), class: "button-link view"
