%div.order
  %h1.text-2xl= "Order ##{@order.id}"

  %div.list-item
    %div.left= "User:"
    %div.right= "#{@order.user.name} (#{@order.user.id})"
  %div.list-item
    %div.left= "Order date:"
    %div.right= @order.order_date.to_s
  %div.list-item
    %div.left= "Total price:"
    %div.right= @order.total_price
  %h2 Products
  git
  %div.product-list
    - @order.orders_products.each do |order_product|
      %div.product
        %div.list-item
          %div.left= "Name"
          %div.right= order_product.product.name
        %div.list-item
          %div.left= "Price"
          %div.right= order_product.product.price
        %div.list-item
          %div.left= "Quantity"
          %div.right= order_product.quantity
