%h2.title Contacteer ons

%div.page
  %p Heeft u een speciaal verzoek? Stel hem hier!

  %div.contact-form
    = simple_form_for @contact do |f|
      = f.input :email
      = f.input :phone
      = f.input :address
      = f.input :message
      = f.button :submit
