%h3 Contact Us

%p Contact us if you want beer for free.

= simple_form_for @contact do |f|
  = f.input :email
  = f.input :phone
  = f.input :address
  = f.input :message
  = f.button :submit


%div
  - if flash[:alert]
    %p= flash[:alert]
  - if flash[:success]
    %p= flash[:success]