%html
  %head
    %title [ADMIN] HetGenotApp
    %meta{name:"viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body
    %div
      - if flash[:notice]
        %p= flash[:notice]
      - if flash[:success]
        %p= flash[:success]

    %nav
      %ul
        %li= link_to "Manage Products", admin_products_path
        %li= link_to "Manage Orders", admin_orders_path

    %hr
    %hr
    %hr

    = yield
