%html
  %head
    %title [ADMIN] HetGenotApp
    %meta{name:"viewport", content:"width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.admin-dashboard
    %div.flashes
      - if flash[:notice]
        %p= flash[:notice]
      - if flash[:success]
        %p= flash[:success]

    %nav
      %div= link_to "Beheer Contacten", admin_contacts_path
      %div= link_to "Beheer Producten", admin_products_path
      %div= link_to "Beheer Bestellingen", admin_orders_path
      %div= link_to "Main Site", root_path

    %main
      = yield
